{% extends 'base.html.twig' %}

{% block title %}Ours Tricks{% endblock %}

{% block content %}

    <h1>Les astuces</h1>

    <div class="row">

        {% for trick in tricks %}

            <div class="col-12 col-lg-4 p-3">
                <div class="card mb-3">
                    <a href="{{ path('trick', { 'slug' : trick.slug }) }}">
                        <div class="trick-illustration">
                            <img class="img-fluid" src="uploads/{{ trick.illustration }}" alt="{{ trick.name }}">
                        </div>
                    </a>
                    <div class="card-header">
                        <div>
                            <a href="{{ path('trick', { 'slug' : trick.slug }) }}"><h2 class="text-uppercase">{{ trick.name }}</h2></a>
                            <a href="#"><h3 class="small">{{ trick.subtitle }}</h3></a>
                        </div>
                        <div class="small">
                            <a href="#" class="card-link">Modifier</a>
                            <a href="#" class="card-link">Supprimer</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>


{% endblock %}
